/* Buttons */

.button {
  min-height: 24px;
  padding: $container_padding $container_padding * 2;
  border-width: 0;
  border-radius: $buttons_radius;
  @include font(button);
  @include button(flat-normal);
  &:hover { @include button(flat-hover); }
  &:active { @include button(flat-active); }
  &:insensitive { @include button(flat-insensitive); }
  &:focus { @include button(flat-focus); }
}

%osd_button {
  @include button(flat-normal, $tc: $inverse_fg_color);
  &:hover { @include button(flat-hover, $tc: $inverse_fg_color); }
  &:active { @include button(flat-active, $tc: $inverse_fg_color); }
  &:insensitive { @include button(flat-insensitive, $tc: $inverse_disabled_secondary_fg_color); }
  &:focus { @include button(flat-focus, $tc: $inverse_fg_color); }
}
