/* Top Bar */
// a.k.a. the panel

$panel_transition_duration: 250ms; // same as the overview transition duration

#panel {
  font-weight: normal;
  font-feature-settings: "tnum";
  transition-duration: $panel_transition_duration;

  @if $opacity == 'solid' {
    background-color: $panel_bg;
  } @else {
    background-color: $panel_bg_color;
  }

  @if $panel_style == 'compact' {
    margin: 0;
    border-radius: 0;
    height: $medium_size - 2px;
  } @else {
    border-radius: $material_radius;
    margin: $container_padding / 2;
    height: $medium_size + 2px;
  }

  // transparent panel on lock & login screens
  &.unlock-screen,
  &.login-screen,
  &.lock-screen,
  &:overview {
    background-color: transparent;

    .panel-button {
      border-radius: $buttons_radius;

      &:hover {
        background-color: rgba(white, 0.08);
      }

      &:active, &:checked, &:focus {
        background-color: rgba(white, 0.18);
      }
    }

    .panel-corner {
      -panel-corner-opacity: 0;
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  #panelLeft, #panelCenter { // spacing between activities<>app menu and such
    spacing: 0;
  }

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: $panel-corner-radius;
    -panel-corner-background-color: $panel_bg_color;
    -panel-corner-border-width: 0;
    -panel-corner-border-color: transparent;
    -panel-corner-opacity: 0;
    transition-duration: $panel_transition_duration;
  }

  // panel menus
  .panel-button {
    -natural-hpadding: $minimum_hpadding * 2;
    -minimum-hpadding: $minimum_hpadding;
    font-weight: normal;
    color: $panel_fg_color;
    transition-duration: 150ms;
    border: none;
    border-radius: 0;
    text-shadow: none;

    StLabel { padding: 0 3px; }

    &.clock-display {
      .clock {
        transition-duration: 150ms;
        border: none;
        border-radius: 0;
      }
    }

    &:hover {
      color: $panel_fg_color;
    }

    &:active, &:checked, &:focus {
      color: $inverse_fg_color;
    }

    @if $opacity == 'solid' {
      &:hover {
        background-color: rgba(white, 0.06);
      }
      &:active, &:checked, &:focus {
        background-color: rgba(white, 0.12);
      }
    } @else {
      &:hover {
        background-color: rgba(black, 0.15);
      }
      &:active, &:checked, &:focus {
        background-color: rgba(black, 0.3);
      }
    }

    &:hover, &:active, &:overview, &:focus, &:checked {
      text-shadow: none;
      box-shadow: none;

      // The clock display needs to have the background on .clock because
      // we want to exclude the do-not-disturb indicator from the background
      &.clock-display {
        box-shadow: none;

        .clock {
          box-shadow: none;
          background: none;
        }
      }
    }

    // status area icons
    .system-status-icon {
      icon-size: 16px;
      padding: $container_padding / 2;
      margin: 0 $container_margin - 2px;
    }

    // .panel-status-indicators-box .system-status-icon,
    .panel-status-menu-box .system-status-icon {
      margin: 0;
    }

    .panel-status-indicators-box,
    .panel-status-menu-box,
    .power-status.panel-status-indicators-box { // spacing between power icon and (optional) percentage label
      spacing: 2px;
    }

    // app menu icon
    .app-menu-icon {
      -st-icon-style: symbolic;
      // dimensions of the icon are hardcoded
    }

    &#panelActivities {
      $size_suffix: if($laptop == 'true', '-small', '');
      background-image: url("assets/activities#{$size_suffix}.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto;
      color: transparent !important;
      box-shadow: none;

      > * { width: $medium_size; }

      &:overview {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  @if $panel_style == 'float' {
    Gjs_ArcMenu_ApplicationsButton.panel-button,
    Gjs_arc-menu_linuxgem33_com_menuButton_ArcMenu_MenuButton.panel-button,
    Gjs_ui_panel_ActivitiesButton.panel-button { // Activities button
      border-radius: $material_radius 0 0 $material_radius !important;
    }

    Gjs_AggregateMenu.panel-button,
    Gjs_ui_panel_AggregateMenu.panel-button {
      border-radius: 0 $material_radius $material_radius 0 !important;
    }

    &:overview,
    &.unlock-screen,
    &.login-screen,
    &.lock-screen {
      Gjs_ArcMenu_ApplicationsButton.panel-button,
      Gjs_arc-menu_linuxgem33_com_menuButton_ArcMenu_MenuButton.panel-button,
      Gjs_ui_panel_ActivitiesButton.panel-button,
      Gjs_AggregateMenu.panel-button,
      Gjs_ui_panel_AggregateMenu.panel-button {
        border-radius: $buttons_radius !important;
      }
    }
  }

  // indicator for active
  .screencast-indicator,
  .remote-access-indicator { color: $warning_color; }
}

// App Menu
#appMenu {
  spacing: $container_padding;
  .label-shadow { color: transparent; }
}

#appMenu .panel-status-menu-box {
  padding: 0 $container_padding;
  spacing: $container_padding;
}
