$variant: 'dark';
$laptop: 'true';
$panel: 'dark';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common-40-0';
@import '../sass/widgets-46-0';
@import '../sass/extensions-46-0';
