$variant: 'light';
$laptop: 'false';
$panel: 'light';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common-40-0';
@import '../sass/widgets-47-0';
@import '../sass/extensions-46-0';
