
//
// Nautilus
//
.nautilus-window {
  placesview {
    label { color: $text-secondary; }
  }

  child.activatable {
    border-radius: $corner-radius * 2;
  }

  .floating-bar {
    min-height: 32px;
    padding: 0;
    margin: $space-size;
    border-style: none;
    border-radius: $corner-radius;
    background-color: $primary;
    color: on($primary);
    box-shadow: $shadow-z3;

    button {
      margin: (32px - $small-size) / 2;
      color: on($primary);

      @extend %small-button;
    }
  }
}

#NautilusViewCell {
  clamp box {
    margin: 0;
    border-spacing: 0;
  }
}

#NautilusQueryEditor { // search entry
  > menubutton > button {
    min-width: 16px;
    min-height: 16px;
    margin: 0;
  }

  > text { margin: 0; }
}

#NautilusPathBar {
  background-color: $titlebar-fill;
  border-radius: $corner-radius;
  margin: $space-size 0;

  #NautilusPathButton {
    margin: 0 $space-size / 2;
    border-radius: $corner-radius;

    &.current-dir {
      color: $titlebar-text;

      &:hover, &:active {
        background: none;
        box-shadow: none;
      }
    }

    &:first-child { margin-left: 0; }
  }
}