
// Gnome-shell panel style
$panel_style: 'float';

// Transparent opacity
$opacity: 'default';

// Windows type
$window: 'default';

// Theme color
$theme: 'default';

// For Blur-Me
$blur: 'false';
