
// Gnome-shell panel style
$panel_style: 'compact';

// Transparent opacity
$opacity: 'default';

// Windows type
$window: 'default';

// Theme color
$theme: 'default';

// For Blur-Me
$blur: 'false';

// Windows outline
$outline: 'true';

// Gnome-shell panel icon
$panel_icon: 'default';

// Gnome-shell activities style
$activities: 'default';
