// generic drawing of more complex things


// ripple effect animations

@keyframes ripple {
  to { background-size: 1000% 1000%; }
}

@keyframes ripple-on-slider {
  to { background-size: auto, 1000% 1000%; }
}

@keyframes ripple-on-headerbar {
  from {
    background-image: radial-gradient(circle, $primary 0%, transparent 0%);
  }

  to {
    background-image: radial-gradient(circle, $primary 100%, transparent 0%);
  }
}


@mixin entry($t, $fc: $primary) {
//
// entry
//
// $t: entry type
// $fc: focus color
//

  @if $t == normal {
    transition: $transition, box-shadow $ripple-fade-out-duration $ease-out;
    box-shadow: inset 0 0 0 1px transparent;
    background-color: $base;
    color: $text;
    border-color: $divider;
  }

  @if $t == hover {
    background-color: $base;
    box-shadow: inset 0 0 0 1px transparent;
    border-color: $track;
  }

  @if $t == focus {
    background-color: $base;
    box-shadow: inset 0 0 0 1px if($fc == $primary, $track, $fc);
    border-color: if($fc == $primary, $track, $fc);
  }

  @if $t == checked {
    background-color: $base;
    box-shadow: inset 0 0 0 1px if($fc == $primary, $track, $fc);
    border-color: if($fc == $primary, $track, $fc);
  }

  @if $t == disabled {
    box-shadow: inset 0 0 0 1px transparent;
    background-color: $base-alt;
    color: $text-disabled;
  }

  @if $t == flat-normal {
    transition: $transition, box-shadow $ripple-fade-out-duration $ease-out;
    border-image: none;
    box-shadow: inset 0 0 0 2px transparent;
    background-color: if($fc == $primary, $base, $fc);
    color: if($fc == $primary, $text, on($fc));
  }

  @if $t == flat-hover {
    box-shadow: inset 0 0 0 1px $divider;
  }

  @if $t == flat-focus {
    border-image: none;
    box-shadow: inset 0 0 0 2px if($fc == $primary, $base, $fc);
  }

  @if $t == flat-disabled {
    box-shadow: inset 0 0 0 2px transparent;
    background-color: $base-alt;
    color: $text-disabled;
  }
}


@mixin button($t) {
//
// button
//
// $t: button type
//

  @if $t == normal {
    transition: $transition, box-shadow $ripple-fade-out-duration $ease-out;
    outline: none;
    box-shadow: inset 0 0 0 9999px transparent;
    background-color: $base;
    border-color: $divider;
    color: $text;
  }

  @if $t == hover {
    // box-shadow: inset 0 0 0 9999px $overlay-hover;
    background-color: $base;
    border-color: $track;
  }

  @if $t == focus {
    background-color: $base;
    box-shadow: inset 0 0 0 1px transparent;
  }

  @if $t == active {
    transition: $transition, box-shadow $ripple-fade-out-duration $ease-out;
    box-shadow: inset 0 0 0 9999px $overlay-active;
  }

  @if $t == disabled {
    box-shadow: none;
    background-color: $base-alt;
    color: $text-disabled;
  }

  @if $t == checked {
    box-shadow: none;
    background-clip: border-box;
    background-color: $primary;
    color: on($primary);
    border-color: $primary;
  }

  @if $t == checked-hover {
    box-shadow: inset 0 0 0 9999px transparent;
  }

  @if $t == checked-disabled {
    box-shadow: none;
    background-color: rgba($primary, 0.35);
    border-color: rgba($primary, 0.35);
    background-clip: padding-box;
    color: rgba(on($primary), 0.5);
  }

  @if $t == flat-normal {
    transition: $transition,
                box-shadow $ripple-fade-out-duration $ease-out,
                border-image $ripple-fade-in-duration $ease-out;
    outline: none;
    box-shadow: inset 0 0 0 9999px transparent;
    background-color: transparent;
    border: none;
    color: $text-secondary;
  }

  @if $t == flat-hover {
    box-shadow: inset 0 0 0 9999px $overlay-hover;
    color: $text;
  }

  @if $t == flat-focus {
    box-shadow: inset 0 0 0 2px $overlay-focus;
    color: $text;
  }

  @if $t == flat-active {
    transition: $transition,
                box-shadow $ripple-fade-out-duration $ease-out,
                border-image $ripple-fade-in-duration $ease-out;
    animation: ripple $ripple-fade-in-duration $ease-out forwards;
    box-shadow: inset 0 0 0 9999px $overlay-active;
    color: $text;
  }

  @if $t == flat-disabled {
    box-shadow: none;
    background-color: transparent;
    color: $text-secondary-disabled;
  }

  @if $t == flat-checked {
    background-color: $overlay-checked;
    color: $text;
  }

  @if $t == flat-checked-disabled {
    background-color: $overlay-checked;
    color: $text-disabled;
  }
}


@mixin overshoot($p) {
//
// overshoot
//
// $p: position
//
// possible $p values:
// top, bottom, right, left
//

  $_position: center $p;

  @if ($p == left) or ($p == right) {
    $_position: $p center;
  }

  background-image: -gtk-gradient(radial,
                                  $_position, 0,
                                  $_position, 0.75,
                                  to(rgba($primary, 0.24)),
                                  to(transparent));

  background-repeat: no-repeat;
  background-position: $_position;

  background-color: transparent; // reset some properties to be sure to not inherit them somehow
  border: none;                  //
  box-shadow: none;              //
}


@mixin undershoot($p) {
//
// undershoot
//
// $p: position
//
// possible $p values:
// top, bottom, right, left
//

  $_undershoot_color_dark: $track;
  $_undershoot_color_light: transparent;

  $_gradient_dir: left;
  $_dash_bg_size: 12px 1px;
  $_gradient_repeat: repeat-x;
  $_bg_pos: left $p;

  @if ($p == left) or ($p == right) {
    $_gradient_dir: top;
    $_dash_bg_size: 1px 12px;
    $_gradient_repeat: repeat-y;
    $_bg_pos: $p top;
  }

  background-color: transparent; // shouldn't be needed, but better to be sure

  background-image: linear-gradient(to $_gradient_dir, // this is the dashed line
                                    $_undershoot_color_light 50%,
                                    $_undershoot_color_dark 50%);

  padding-#{$p}: 1px;
  background-size: $_dash_bg_size;
  background-repeat: $_gradient_repeat;
  background-origin: content-box;
  background-position: $_bg_pos;
  margin: 0 4px;

  @if ($p == left) or ($p == right) {
    margin: 4px 0;
  }
}
